@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: local('Noto Sans KR Bold'),
    url('../webfonts/NotoSansKR-Bold.otf');
}


@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    src: local('Noto Sans KR Medium'),
    url('../webfonts/NotoSansKR-Medium.otf');
}

@font-face {font-family: 'NotoSansKR';
    font-weight: 400;
    src: local('Noto Sans KR Regular'),
    url('../webfonts/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300;
    src: local('Noto Sans KR Light'),
    url('../webfonts/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 100;
    src: local('Noto Sans KR Thin'),
    url('../webfonts/NotoSansKR-Thin.otf');
}
